<section id="footer" class="section">
    <section class="container pt-5 {{ grid_size }}">
        <a href="https://twitter.com/OpenGeoEdu" target="_blank" rel="noopener">
            <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/opengeoedu" target="_blank" rel="noopener">
            <i class="fab fa-github fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/opengeoedu/" target="_blank" rel="noopener">
            <i class="fab fa-instagram fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://www.youtube.com/channel/UChFyYD9h3ynC1rX-s3tyNdw" target="_blank" rel="noopener">
            <i class="fab fa-youtube-square fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/company/opengeoedu/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://forum.opengeoedu.de/" target="_blank" rel="noopener">
            <i class="fab fa-discourse fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://chat.opengeoedu.de" target="_blank" rel="noopener">
            <i class="fab fa-rocketchat fa-2x" aria-hidden="true"></i>
        </a>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons Lizenzvertrag" style="border-width:0; margin:0; display: inline-block;"
                src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
        </a>
    </section>
</section>
